<h2><%= author.name %></h2>

<div class="btn-row">
  <a class="btn btn-primary" href="/authors/<%= author.id %>/edit">Edit</a>
  <form method="POST" action="/authors/<%= author.id %>/?_method=Delete">
    <button class="btn btn-danger">Delete</button>
  </form>
</div>
<%- include("../partials/_errorMessage") %>
<% if (booksByAuthor.length > 0) { %>
<h2>Books By Author</h2>
<%- include("../partials/_bookGrid", {books: booksByAuthor}) %> 
 <% } %>
